<div id="konva-menucontext" class="context-menu">
  <ul class="dropdown-menu show">
    <li class="btn btn-primary dropdown-item">Option 1</li>
    <li class="btn btn-primary dropdown-item">Option 2</li>
    <li class="btn btn-primary dropdown-item">Option 3</li>
  </ul>
</div>

<div class="d-flex justify-content-end">
  <input
    class="d-none"
    type="file"
    accept="image/*"
    #signatureInput
    (change)="onAddSignatureImage($event)"
  />
  <div class="btn btn-primary" (click)="signatureInput.click()">
    Thêm chữ ký
  </div>
  <div class="btn btn-success ms-2 me-2" (click)="sendToSign()">Gửi ký</div>
</div>
<ngx-extended-pdf-viewer
  #pdfViewer
  [base64Src]="base64Signfile"
  (pdfLoaded)="evtLog($event)"
  [height]="'auto'"
  [textLayer]="false"
  [showHandToolButton]="false"
  [handTool]="false"
  [filenameForDownload]="'Public Domain.pdf'"
  (pageRendered)="onPdfPagesRendered($event)"
  [(page)]="curPage"
>
</ngx-extended-pdf-viewer>
